.about {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 165px;
}

.about__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__bodyInfo {
  flex: 1;
  color: #5f5f5f;
  font-size: 17px;
  margin-right: 25px;
  letter-spacing: 0.5px;
}
.about__bodyImage {
  flex: 0.4;
}
