.header {
  margin: 30px 0 50px 0;
  text-align: center;
  position: relative;
}

.header > h2 {
  color: #c83cb9;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header > p {
  font-size: 18px;
}

.header::after {
  content: "";
  border-top: 1px solid rgb(224, 224, 224);
  position: absolute;
  display: block;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  top: 110%;
}

@media screen and (max-width: 500px) {
  .header h2 {
    font-size: 20px;
  }
  .header p {
    font-size: 14px;
  }
}
