.header {
  margin: 30px 0 50px 0;
  text-align: center;
  position: relative;
}

.header > h2 {
  color: #c83cb9;
}

.header > p {
  font-size: 18px;
}

.header::after {
  content: "";
  border-top: 1px solid rgb(224, 224, 224);
  position: absolute;
  display: block;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  top: 110%;
}
