.home {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../assets/homebg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px 165px;
  text-align: center;
}

.home__left {
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.home__left > p:nth-of-type(1) {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.home__left > p:nth-of-type(2) {
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
}

.home__left > p:nth-of-type(3) {
  font-weight: 600;
  font-size: 21px;
}

.home__right {
  width: 500px;
}

.home__right img {
  width: 100%;
  height: 100%;
}

.home__btn {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home__btn a {
  padding: 6px 35px;
  font-size: 16px;
  font-weight: 600;
  background: #ffffff;
  border-radius: 35px;
  color: black;
  margin-right: 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.home__btn > .contact__btn {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 35px;
  color: white;
  animation: all 1s ease-in;
}

.home__left .letter:hover {
  animation: animate-letter 0.4s ease;
}

.scroll {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 30px;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  cursor: pointer;
}

.scroll::before,
.scroll::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid whitesmoke;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1.2s ease-in-out infinite;
}

.scroll::after {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes animate-letter {
  0% {
    color: white;
    font-size: 1em;
  }
  80% {
    color: #c83cb9;
    font-size: 1.15em;
  }
  100% {
    color: white;
    font-size: 1em;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

@media screen and (max-width: 1362px) {
  .home__left > p:nth-of-type(1) {
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
  }
  .home__left > p:nth-of-type(2) {
    font-weight: bold;
    font-size: 43px;
    line-height: 42px;
  }

  .home__left > p:nth-of-type(3) {
    font-weight: 600;
    font-size: 23px;
  }

  .home__right {
    width: 350px;
  }
}

@media screen and (max-width: 1140px) {
  .home {
    padding: 15px 100px;
  }
  .home__right {
    width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .home__left > p:nth-of-type(1) {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
  }
  .home__left > p:nth-of-type(2) {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
  }

  .home__left > p:nth-of-type(3) {
    font-weight: 600;
    font-size: 19px;
  }

  .home__right {
    width: 280px;
  }

  .home__btn {
    margin-top: 13px;
  }

  .home__btn a {
    padding: 3px 22px;
    font-size: 13px;
    font-weight: 600;
    margin-right: 13px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 5px 10px;
  }
  .home__right {
    width: 240px;
  }
}

@media screen and (max-width: 450px) {
  .home__right {
    width: 200px;
  }
  .home__left > p:nth-of-type(1) {
    font-weight: 500;
    font-size: 17px;
  }
  .home__left > p:nth-of-type(2) {
    font-size: 28px;
    line-height: 32px;
  }

  .home__left > p:nth-of-type(3) {
    font-weight: 600;
    font-size: 16px;
  }
  .scroll {
    height: 40px;
    width: 25px;
  }
}
