.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 85%;
  max-width: 750px;
  height: 315px;
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.22);
}

.projectCard--modify {
  flex-direction: row-reverse;
}

.projectCard__img {
  flex: 1;
  height: 100%;
  overflow: hidden;
  transform: scale(1);
}

.projectCard__img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.projectCard__img :hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
}

.projectCard__info {
  flex: 0.6;
  height: 100%;
  padding: 20px 25px;
  color: #5f5f5f;
  font-size: 15px;
  white-space: pre-line;
}

.projectCard__info h2 {
  font-family: "Comfortaa", cursive;
  font-size: 26px;
  margin-bottom: 10px;
  color: black;
}

.projectCard__info a {
  background-color: #c83cb9;
  color: white;
  border-radius: 7px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  margin: 10px 10px 0 0;
  font-weight: 700;
  border: 2px solid #c83cb9;
  letter-spacing: 1px;
}
.projectCard__info a:nth-last-child(1) {
  color: #c83cb9;
  background-color: white;
}

@media screen and (max-width: 962px) {
  .projectCard {
    flex-direction: column;
    width: 60%;
    max-width: 400px;
    height: auto;
  }
  .projectCard__img {
    height: 230px;
  }
  .projectCard__img img {
    width: 100%;
    height: 100%;
  }
  .projectCard__info {
    padding: 10px 13px;
    font-size: 14px;
  }
  .projectCard__info h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .projectCard {
    width: 80%;
    max-width: 400px;
  }
}

@media screen and (max-width: 350px) {
  .projectCard {
    width: 100%;
    max-width: 400px;
  }
}
